table {
    max-width: 100%;

    th {
        text-align: left;
        padding: 0 15px 15px 15px;
        font-weight: 400;
        color: #000000;
    }

    td {
        font-size: 13px;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
        padding: 0 15px;
        border-bottom: 1px solid rgb(30, 255, 0);
    }
}

.txs-acc-no {
    width: 250px;
    text-overflow: ellipsis;
}
